@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import './assets/fonts/fontawesome/fontawesome.min.css';

:root{
  --clr-body-bg: hsl(240, 38%, 97%); // #f4f4fa
  --clr-white: hsl(0, 0%, 100%); // #ffffff

  --clr-black-100: hsl(240, 0%, 94%); // #f0f0f0
  --clr-black-250: hsl(240, 0%, 75%); // #bfbfbf
  --clr-black-300: hsl(240, 0%, 63%); // #a1a1a1

  --clr-primary-10: hsl(251, 23%, 96%); // #f3f2f7
  --clr-primary-100: hsl(251, 23%, 76%); // #b9b4d0
  --clr-primary-250: hsl(251, 37%, 63%); // #8b7ec4
  --clr-primary-400: hsl(251, 53%, 46%); // #4e37b3

  --clr-warning-900: hsl(13, 100%, 66%); // #ff7752
  --clr-warning-400: hsl(47, 85%, 48%); // #e2b512

  --clr-danger-400: hsl(0, 90%, 60%); // #f53d3d
  --clr-danger-100: hsl(0, 70%, 90%); // #f53d3d

  --clr-success-400: #40c234;

  --fs-075: 0.75rem;
  --fs-09: 0.9rem;
  --fs-10: 1rem;
  --fs-12: 1.2rem;
  --fs-20: 2rem;
  --fs-50: 5rem;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  height: 100vh;
  background-color: var(--clr-body-bg);
  font-size: var(--fs-09);
}

.row{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.bg-shadow{
  box-shadow: 0rem 0rem 0.75rem 0rem var(--clr-black-250);
}

.bg-primary{
  background-color: var(--clr-primary-400);
}

.bg-warning{
  background-color: var(--clr-warning-400);
}

.bg-danger-fade{
  background-color: var(--clr-danger-100) !important;
}

.text-primary{
  color: var(--clr-primary-400);
}

.text-warning{
  color: var(--clr-warning-400);
}

.text-success{
  color: var(--clr-success-400);
}

.text-danger{
  color: var(--clr-danger-400);
}

.tbl{
  display: table;
  td, th{
    padding: 0.5rem 1rem;
  }
  th{
    background-color: var(--clr-primary-400);
    color: var(--clr-white);
  }
}

.tbl-bordered{
  border: 1px solid var(--clr-primary-100);
  text-align: center;
  border-collapse: collapse;
  td, th{
    border: 1px solid var(--clr-primary-100);
  }
}

.tbl-alternate{
  tr:nth-child(2n+1){
    background-color: var(--clr-primary-10);
  }
}

.tbl-hover{
  tr:hover{
    background-color: var(--clr-primary-10);
  }
}

.tbl-responsive{
  table{
    width: 100%;
  }
}

.pointer{
  cursor: pointer;
}

button{
  background: none;
  border: none;
}

.btn{
  width: fit-content;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.btn-bold{
  font-weight: 600;
}

.btn-primary{
  background: var(--clr-primary-400);
  color: var(--clr-white);
}

.btn-primary-outline{
  background: var(--clr-white);
  color: var(--clr-primary-400);
  border: 1px solid var(--clr-primary-400);
  transition: 0.1s all ease-in;
}

.btn-primary-outline:hover{
  background: var(--clr-primary-400);
  color: var(--clr-white);
}

.btn-warning-outline{
  background: var(--clr-white);
  color: var(--clr-warning-900);
  border: 1px solid var(--clr-warning-900);
  transition: 0.1s all ease-in;
}

.btn-warning-outline:hover{
  background: var(--clr-warning-900);
  color: var(--clr-white);
}

.btn-success{
  background-color: var(--clr-success-400);
  color: var(--clr-white);
}
.btn-danger{
  background-color: var(--clr-danger-400);
  color: var(--clr-white);
}

.bg-shadow{
  box-shadow: 0 0 10px 0 var(--clr-black-250);
}

.btn-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  & > * {
    cursor: pointer;
  }
}

.fs-20{
  font-size: var(--fs-20);
}

.pop-cover{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-color: var(--clr-primary-10);
  opacity: 0.6;
  display: none;
}

.pop-cover.active{
  display: block;
  z-index: 10;
}

.pop-modal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  min-height: 15rem;
  min-width: 25rem;
  background-color: var(--clr-white);
  z-index: -1;
  border-radius: 0.5rem;
  transition: 0.4s all ease-in;
  display: none;
  opacity: 0;
  padding: 0.5rem;

  .modal-header{
    height: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    // align-items: center;
    font-size: 1.2rem;

    i{
      color: var(--clr-primary-400);
    }
    i:hover{
      color: var(--clr-warning-900);
      cursor: pointer;
    }
  }

  .modal-body{
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
  }

  .modal-footer{
    display: flex;
    justify-content: end;
  }
}

.pop-modal.active{
  display: flex;
  opacity: 1;
  flex-direction: column;
  z-index: 11;
}